<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/custom.css')}}" type="text/css">
    <title>DARAJA API</title>
</head>
<body>
    <form method="post" action="{{url_for('daraja.init_push')}}">
        <input type="tel" name="phone" placeholder="Enter phone number"/>
        <input type="number" name="amount" placeholder="Enter amount"/>
        <input type="submit" value="Make Payment"/>
    </form>
</body>
</html>